# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# generated directory
**/generated

# output directory
/out

# solutions directory
/Calendar/Solutions

# msbuild output directories
/bin
/obj

/Tools
/temp

log*.txt
Calendar/Calendar/Solutions/.vs/slnx.sqlite
Calendar/Calendar/Solutions/.vs/Solutions/FileContentIndex/20d04321-1eae-480c-bbc9-e598b493ab6e.vsidx
